/* 
    Document   : iconos
    Created on : 02/02/2010, 12:16:52 AM
    Author     : Edward
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.regcli {
    background-image: url(../files/images_app/user-detective.png);
}
.regper {
    background-image: url(../files/images_app/users.png);
}
.regsol {
    background-image: url(../files/images_app/document-share.png);
}
.consol {
    background-image: url(../files/images_app/document-search-result.png);
}
.zona {
    background-image: url(../files/images_app/plugin.gif);
}
.riesgo {
    background-image: url(../files/images_app/error.png);
}
.delito {
    background-image: url(../files/images_app/information.png);
}
.puesto {
    background-image: url(../files/images_app/user_suit.png);
}
.rpt_cliente{
    background-image: url(../files/images_app/application_view_columns.png);
}
.rpt_persona{
    background-image: url(../files/images_app/table-join.png);
}
/*CSS para fileuploadfield*/
.upload-icon {

    background: url('../../librerias/ext-3.1.1/examples/shared/icons/fam/image_add.png') no-repeat 0 0 !important;
}

/*CSS para fileuploadfield*/
.upload-icon {
    background: url('../../librerias/ext-3.1.1/examples/shared/icons/fam/image_add.png') no-repeat 0 0 !important;

}
#fi-button-msg {
    border: 2px solid #ccc;
    padding: 5px 10px;
    background: #eee;
    margin: 5px;
    float: left;
}
